<!DOCTYPE html>
<html lang="en" ng-app="restaurantMenu">
  <head>
    <meta charset="UTF-8">
    <title>Restaurant App</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="services/FoodFactory.js"></script>
    <script src="controllers/IceCreamController.js"></script>
    <script src="controllers/PizzaController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div ng-controller="IceCreamCtrl">
            <h3>Ice Cream Factory</h3>
            <form ng-submit="FoodFactory.addIceCream()" role="form">
              <select ng-model="FoodFactory.product" required>
                <option value="">Choose a product</option>
                <option ng-repeat="item in iceCreamTypes" value="{{item}}">{{item.name}}</option>
              </select>
              <select ng-model="FoodFactory.purchaseQuantity" required>
                <option value="">#</option>
                <option  value="1">1</option>
                <option  value="2">2</option>
                <option  value="3">3</option>
                <option  value="4">4</option>
              </select>
              <button type="submit" class="btn btn-default">Add to cart</button>
            </form>

            <h4>This is what's in your Ice Cream cart:</h4>
            <ul >
              <li ng-repeat="item in FoodFactory.iceCreamPurchases">{{item.quantity}} {{item.name}}, Price/unit: {{item.pricePerUnit}}
              </li>
            </ul>
            <a ng-click="showthis = true">
              <button type="button" class="btn">Calculate Ice Cream Cost</button>
            </a>
            <span ng-show = "showthis">
              <h3> Ice Cream price:</h3>
              {{FoodFactory.iceCreamPrice()}}
            </span>
          </div>
        </div>
        <div class="col-sm-6">
          <div ng-controller="PizzaCtrl">
            <h3>Pizza Factory</h3>
            <form ng-submit="FoodFactory.addPizza()" role="form">
              <select ng-model="FoodFactory.product" required>
                <option value="">Choose a product</option>
                <option ng-repeat="item in pizzaTypes" value="{{item}}">{{item.name}}</option>
              </select>
              <select ng-model="FoodFactory.purchaseQuantity" required>
                <option value="">#</option>
                <option  value="1">1</option>
                <option  value="2">2</option>
                <option  value="3">3</option>
                <option  value="4">4</option>
              </select>
              <button type="submit" class="btn btn-default">Add to cart</button>
            </form>

            <h4>This is what's in your Pizza cart:</h4>
            <ul >
              <li ng-repeat="item in FoodFactory.pizzaPurchases">{{item.quantity}} {{item.name}}, Price/unit: {{item.pricePerUnit}}
              </li>
            </ul>
            <a ng-click="showpizza = true">
              <button type="button" class="btn">Calculate Pizza Cost</button>
            </a>
            <span ng-show = "showpizza">
              <h3> Pizza price:</h3>
              {{FoodFactory.pizzaPrice()}}
            </span>
          </div>
        </div>
          </div>
        </div>
      </div>
      <!-- <div ng-controller="IceCreamCtrl">
        <div class="row">
          <div class="col-sm-12">
            <a ng-click="showthis = true">
              <button type="button" class="btn">Calculate Total Cost</button>
            </a>
            <span ng-show = "showthis">
              <h3> Total price:</h3>
              {{FoodFactory.priceTotal()}}
            </span>
          </div>
        </div>
      </div> -->
    </div>
  </body>
</html>
